<html>
<head>
    <title>Item Details</title>

</head>
<body style="color: #030302; background-color: #259c8e">
<form action="/mark-favourite" method="post" enctype="multipart/form-data">
    {% for train in trains %}
        <div>
            <input type="radio" name="train_id" value={{train['id']}}>
            <label>Поезд <b style="font-size: 20px">{{train['start_station']}} - {{train['finish_station']}}</b> отправляется в
                <b style="font-size: 20px">{{train['start_time']}}</b>, приблизительное время в пути составит
                <b style="font-size: 20px">{{train['travel_time']}}</b></label>
        </div>
    {% endfor %}
    <input type="submit" value="Пометить как избранное"/>
</form>


</body>
</html>